
/*Definindo estilo para o corpo da pagina*/
body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#333;
    background-color: rgb(142, 160, 160);
    margin: 0;
    padding: 0;

}
header{

    background-color: rgb(189, 196, 193);
    color: #fff;
    padding: 20px;
}
header h1{
    margin: 0;

}
nav ul{
    list-style-type: none;
    /*Remove a estilização padrao da lista*/
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
main{
    padding: 20px;
    

}
section{
    margin-bottom: 20px;
}
footer{
    background-color: rgb(58, 83, 83);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}